<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>993520356335-nag6q38kd3rsn0m40qd98eebuu2qd4dc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.993520356335-nag6q38kd3rsn0m40qd98eebuu2qd4dc</string>
	<key>API_KEY</key>
	<string>AIzaSyCbz6X7V11HpcY3BrT_EDvd0kMa0BUDL4g</string>
	<key>GCM_SENDER_ID</key>
	<string>993520356335</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.clinicalstudypal.clinicalstudypal</string>
	<key>PROJECT_ID</key>
	<string>clinical-study-pal</string>
	<key>STORAGE_BUCKET</key>
	<string>clinical-study-pal.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:993520356335:ios:2ea8aa1a14f23aa65e041a</string>
</dict>
</plist>